// by cebrusfs
// macros {{{
#include <bits/stdc++.h>

using namespace std;

#define ALL(x) (x).begin(), (x).end()
#define SZ(x) ((int)(x).size())
#define BIT(n) ((1LL) << (long long)(n))
#define MP make_pair
#define PB push_back

#define F first
#define S second

typedef long long ll;

typedef pair<int, int> PII;
typedef vector<int> VI;

const double eps = 1e-7;
// }}}

class ${ClassName} {
    public:
    ${Method.ReturnType} ${Method.Name}(${Method.Params}) {
        return ${Method.ReturnType;zeroval};
    }
};

${CutBegin}
${<TestCode}
${CutEnd}
